.list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 60px;
	column-gap: 20px;
	position: relative;

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr 1fr;
		max-width: 900px;
		margin: 0 auto;
	}
}
